- provide(:title, "Villains")
%h1
  Villains
  - if can? :create, @villain
    .btn-group.pull-right{:role => "group"}
      = link_to "New", new_villain_path, class: "btn btn-success"

.row
  .col-md-8
    = render 'shared/villain_list'
  .col-md-4
    = form_for_filterrific @filterrific, {as: :s} do |f|
      .form-group
        = f.label :search_query, "Search"
        = f.text_field :search_query, class: "form-control"
        .help-block
          Filter for whatever you like here. You can filter on tags,              |
          generations, and users by prefixing your search with <code>tag:</code>, |
          <code>gen:</code>, or <code>user:</code> For example:                   |
        %pre
          "tag:mad scientist" user:kit monkey
        .help-block
          You can also negate these, like <code>"-tag:mad scientist"</code>.
      .form-group
        = f.label :sorted_by, "Sort by"
        = f.select :sorted_by, @filterrific.select_options[:sorted_by], {}, class: "form-control"
      .form-group.text-right
        = f.submit "search", class: "btn btn-default"
        %button#get_feed.btn.btn-default
          get feed
