- provide(:title, @villain.name)
%h1
  - unless @villain.public
    %span.small.glyphicon.glyphicon-lock{"aria-hidden": "true"}
  = @villain.name
  %small
    = @villain.generation
    generation, by
    = link_to @villain.user.name,                                 |
      {                                                           |
        controller: "villains",                                   |
        action: "index",                                          |
        "filterrific[search_query]": "user:#{@villain.user.name}" |
      }                                                           |
  - if current_user == @villain.user
    .btn-group.villain-controls{role: "group"}
      = link_to "Edit", edit_villain_path(@villain), class: "btn btn-primary"
      = link_to "Delete",                 |
        villain_path(@villain),           |
        data: {confirm: 'Are you sure?'}, |
        method: :delete,                  |
        class: "btn btn-danger"           |

.mugshot-wrapper
  = image_tag @villain.mugshot.url(:medium), class: "mugshot"

.col-md-8
  .tags
    = render partial: "shared/tag_links", locals: { villain: @villain }

  %h2 Real Name
  = markdown(@villain.real_name)

  %h2 Drive
  = markdown(@villain.drive)

  %h2 Abilities
  = markdown(@villain.abilities)

  %h2 Conditions
  %ul
    - @villain.conditions.each do |condition|
      %li= condition.name

  %h2 Moves
  = markdown(@villain.moves)

  %h2 Description
  = markdown(@villain.description)
