<% provide(:title, @villain.name) %>
<h1>
  <%= @villain.name %>
  <% if current_user == @villain.user %>
    <div class="btn-group pull-right" role="group">
      <%= link_to "Edit", edit_villain_path(@villain), class: "btn btn-primary" %>
      <%= link_to "Delete", villain_path(@villain), method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
</h1>
<ul>
  <li><%= @villain.drive %></li>
  <li><%= @villain.moves %></li>
  <li><%= @villain.conditions %></li>
  <li><%= @villain.abilities %></li>
  <li><%= @villain.description %></li>
</ul>
