<%= form_for(@villain, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <%# real name %>
  <%# generation %>

  <div class="form-group">
    <%= f.label :drive %>
    <%= f.text_field :drive, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :abilities %>
    <%= f.text_area :abilities, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :conditions %>
    <%= f.collection_check_boxes :condition_ids, Condition.all, :id, :name do |b|%>
      <div class="checkbox">
        <%= b.label { b.check_box + " " + b.text } %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :moves %>
    <%= f.text_area :moves, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :mugshot %>
    <%= f.file_field :mugshot %>
  </div>

  <div class="form-group">
    <%= f.submit "save", class: "btn btn-default" %>
  </div>
<% end %>
