%ul.media-list
  - @villains.each do |villain|
    %li.media
      .media-left
        = image_tag villain.mugshot.url(:thumb), class: "media-object center-block"
      .media-body
        %h4.media-heading
          - unless villain.public
            %span.small.glyphicon.glyphicon-lock{"aria-hidden": "true"}
          = link_to villain.name, villain
          (#{villain.generation})
          %small.text-muted
            %em
              by
              = link_to villain.user.name,                                        |
                {                                                                 |
                  controller: "villains",                                         |
                  action: "index",                                                |
                  "s[search_query]": quote_if_needed("user:#{villain.user.name}") |
                }                                                                 |
        %div
          = markdown(villain.drive)
        %div
          = render partial: "shared/tag_links", locals: { villain: villain }
        %div
          %em
            = villain.conditions.map { |c| c.name }.join(", ")
.text-center
  = will_paginate @villains, renderer: BootstrapPagination::Rails
