.col-md-8
  = form_for(@villain, html: { multipart: true }) do |f|
    = render 'shared/error_messages', object: f.object
    .form-group
      = f.label :name
      = f.text_field :name, autofocus: true, class: "form-control"
    .form-group
      = f.label :tags
      %div
        = f.select :tag_list,                       |
          Villain.tag_counts,                       |
          {},                                       |
          { multiple: true, class: "form-control" } |
    .form-group
      = f.label :real_name
      = f.text_field :real_name, class: "form-control"
    .form-group
      = f.label :organization_ids, "Member of"
      %div
        = f.select :organization_ids,                                   |
          Organization.all_editable_by(current_user).pluck(:name, :id), |
          {},                                                           |
          { multiple: true, class: "form-control" }                     |
    .form-group
      = f.label :generation
      = f.select(                                               |
        :generation,                                            |
        Villain.generations.keys.map { |g| [ g.titleize, g ] }, |
        {},                                                     |
        class: "form-control")                                  |
    .form-group
      = f.label :drive
      = f.text_field :drive, class: "form-control"
    .form-group
      = f.label :abilities
      ~ f.text_area :abilities, class: "form-control", rows: 8
    .form-group
      = f.label :conditions
      %div
        = f.collection_check_boxes :condition_ids, Condition.all, :id, :name do |b|
          = b.label(class: "checkbox-inline") { b.check_box + " " + b.text }
    .form-group
      = f.label :moves
      ~ f.text_area :moves, class: "form-control", rows: 8
    .form-group
      = f.label :description
      ~ f.text_area :description, class: "form-control", rows: 8
    .form-group
      = f.label :mugshot
      = f.file_field :mugshot
      %p.help-block
        Please make sure that you have the rights to use this image, and that
        it's family-friendly!
    .form-group
      = f.label :public
      = f.check_box :public
      %p.help-block
        If this character <em>really</em> isn't relevant to anyone else, make
        sure this box is unchecked and it won't show up in listings. People can
        still see it if you send them the link, though.
    .form-group
      = f.label :collaborator_ids, "Collaborators"
      %div
        = f.select :collaborator_ids,                                                        |
          User.where.not(id: @villain.user.id).pluck(:name, :id),                            |
          {},                                                                                |
          { multiple: true, class: "form-control", disabled: current_user != @villain.user } |
    .form-group
      = f.submit "save", class: "btn btn-default"

.col-md-4
  = render 'shared/form_help'
