%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to "Maskbook", root_path, class: "navbar-brand"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to "Villains", villains_path
        - if user_signed_in?
          %li.dropdown
            %a{href: "#", class: "dropdown-toggle", "data-toggle": "dropdown"}
              Account
              %b.caret
            </a>
            %ul.dropdown-menu
              %li= link_to current_user.email, current_user
              %li= link_to 'Edit profile', edit_user_registration_path
              %li= link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Login", new_user_session_path
      = form_tag(search_path, method: "get", class: "navbar-form navbar-right") do
        = text_field_tag :s, nil, { class: "form-control", placeholder: "Search" }
